@media (max-width:600px){

  body{

    background-attachment:scroll;
  }

  .logo img{

    width:150px;
  }

  .intro{

    font-size:14px;

    line-height:1.8;

    padding:0 20px;
  }

  .film-page{

    padding:20px 10px;
  }

  .film-poster{

    width:240px;
  }

  .film-text,
  .museum-text{

    width:100%;

    max-width:100%;

    font-size:14px;

    line-height:1.8;

    padding:0 12px;
  }

  .museum-photo{

    margin:30px 0;
  }

  /* IMÁGENES MÁS ESTRECHAS EN MÓVIL */

  .museum-photo img{

    width:88%;

    max-width:420px;
  }

  /* VÍDEO MÁS ESTRECHO EN MÓVIL */

  .museum-video{

    width:88%;

    max-width:420px;
  }

  .contact{

    font-size:14px;
  }

  iframe{

    height:220px;
  }
}